<div class="row" *ngFor="#condition of conditions">
    <div class="col-xs-3">
        <select >
            <option>ewweg</option>
        </select>
    </div>
    <condition-detail [condition]="condition"></condition-detail>
</div>


<a class="btn btn-primary" (click)="newCondition()">add</a>